<%= form_for(@button) do |f| %>
  <% if @button.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@button.errors.count, "error") %> prohibited this button from being saved:</h2>

      <ul>
      <% @button.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :shape %><br>
    <%= f.number_field :shape %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :hover %><br>
    <%= f.text_field :hover %>
  </div>
  <div class="field">
    <%= f.label :font %><br>
    <%= f.number_field :font %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :tracking %><br>
    <%= f.number_field :tracking %>
  </div>
  <div class="field">
    <%= f.label :leading %><br>
    <%= f.number_field :leading %>
  </div>
  <div class="field">
    <%= f.label :font_regular %><br>
    <%= f.number_field :font_regular %>
  </div>
  <div class="field">
    <%= f.label :font_bold %><br>
    <%= f.number_field :font_bold %>
  </div>
  <div class="field">
    <%= f.label :font_italic %><br>
    <%= f.number_field :font_italic %>
  </div>
  <div class="field">
    <%= f.label :text_color %><br>
    <%= f.text_field :text_color %>
  </div>
  <div class="field">
    <%= f.label :text_animation %><br>
    <%= f.number_field :text_animation %>
  </div>
  <div class="field">
    <%= f.label :bar_size %><br>
    <%= f.number_field :bar_size %>
  </div>
  <div class="field">
    <%= f.label :bar_position %><br>
    <%= f.number_field :bar_position %>
  </div>
  <div class="field">
    <%= f.label :bar_aligment %><br>
    <%= f.number_field :bar_aligment %>
  </div>
  <div class="field">
    <%= f.label :display_delay %><br>
    <%= f.number_field :display_delay %>
  </div>
  <div class="field">
    <%= f.label :url_link %><br>
    <%= f.text_field :url_link %>
  </div>
  <div class="field">
    <%= f.label :blank %><br>
    <%= f.number_field :blank %>
  </div>
  <div class="field">
    <%= f.label :enable_on_mobile %><br>
    <%= f.number_field :enable_on_mobile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
