<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @button.text %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @button.shape %>
</p>

<p>
  <strong>Color:</strong>
  <%= @button.color %>
</p>

<p>
  <strong>Hover:</strong>
  <%= @button.hover %>
</p>

<p>
  <strong>Font:</strong>
  <%= @button.font %>
</p>

<p>
  <strong>Size:</strong>
  <%= @button.size %>
</p>

<p>
  <strong>Tracking:</strong>
  <%= @button.tracking %>
</p>

<p>
  <strong>Leading:</strong>
  <%= @button.leading %>
</p>

<p>
  <strong>Font regular:</strong>
  <%= @button.font_regular %>
</p>

<p>
  <strong>Font bold:</strong>
  <%= @button.font_bold %>
</p>

<p>
  <strong>Font italic:</strong>
  <%= @button.font_italic %>
</p>

<p>
  <strong>Text color:</strong>
  <%= @button.text_color %>
</p>

<p>
  <strong>Text animation:</strong>
  <%= @button.text_animation %>
</p>

<p>
  <strong>Bar size:</strong>
  <%= @button.bar_size %>
</p>

<p>
  <strong>Bar position:</strong>
  <%= @button.bar_position %>
</p>

<p>
  <strong>Bar aligment:</strong>
  <%= @button.bar_aligment %>
</p>

<p>
  <strong>Display delay:</strong>
  <%= @button.display_delay %>
</p>

<p>
  <strong>Url link:</strong>
  <%= @button.url_link %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @button.blank %>
</p>

<p>
  <strong>Enable on mobile:</strong>
  <%= @button.enable_on_mobile %>
</p>

<%= link_to 'Edit', edit_button_path(@button) %> |
<%= link_to 'Back', buttons_path %>
