jQuery('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">').prependTo('head');

jQuery('<style> ' +
  '.option {' +
  '-webkit-animation-iteration-count: 1;' +
  '-moz-animation-iteration-count: 1;' +
  '-o-animation-iteration-count: 1;' +
  '-ms-animation-iteration-count: 1;' +
  '}' +
  'div[class^="header-promo-bar"] h1 p, div[class^="footer-promo-bar"] h1 p {' +
  ' padding-bottom: 0px !important;' +
  '} ' +
  '[class^="subheader-promo-bar"] p {' +
  ' line-height: 20px;' +
  ' padding-bottom: 0px !important;' +
  '}' +
  '</style>').appendTo('head');

<% unless @header_promobars.empty? %>
  var header_append_node = jQuery('body');
  <% if @lock.turned_on %>
  jQuery('<div class="header-promo" style="top: 0; width: 100%; height:<%= @header_promobars.last.promobar_height(@header_promobars.last.height) %>;' +
      ' background: <%= @lock.color %>; ">' +
      '</div>').prependTo('body');
  header_append_node = jQuery('.header-promo');
  <% end %>
  <% @header_promobars.each_with_index do |bar, index| %>

    jQuery('<div <%= bar.promobar_link_onclick %> class="header-promo-bar<%= index %> <%= bar.custom_css unless bar.custom_css.nil? %>" style="visibility: <%= bar.display_bar %>; top: 0; width: 100;' +
      ' background: <%= @lock.turned_on ? "" : bar.background_color %>; ' +
      ' opacity: <%= (100 - bar.background_opacity) / 100.0 %>;' + 
      '<%= "cursor: pointer;" unless bar.promobar_link == "" or bar.promobar_link.nil? %>' + 
      'text-align: <%= bar.text_align(bar.alignment)%>; ' +
      'height: 100px">' +  
      ' <h1 class="<%= bar.animation(bar.text_animation) %>" ' +
      ' style="display: inline-block; padding-bottom: 0px !important;' +
      ' line-height: <%= bar.line_height(bar.height) %>"><%= render html: bar.text.gsub("'","&#39;").gsub("\n","").gsub("\r","").html_safe %></h1>' +
      ' <a href="' + '<%= bar.url_link %>' + '" target=<%= bar.link_blank %>' +  
      ' style="display: <%= bar.display_button %>;height:45px; ' +
      ' background-color: <%= bar.button_color %>; border-radius: 5px;"' +
      ' class="btn btn-sm btn-primary promobar-button"><%= render html: bar.button_text.gsub("'","&#39;").gsub("\n","").gsub("\r","").html_safe unless bar.button_text.nil? %></a>' +
      ' <button id="header-promobar-x-button<%= index %>" class="btn btn-sm btn-primary"' +
      ' style="display: <%= bar.display_x %>; float: right; border-radius: 5px;"' + 
      ' type="button">X</button></div>').prependTo(header_append_node);
    jQuery('<script type="text/javascript"> ' + 
        'jQuery(document).ready(function () { ' +
          'jQuery("#header-promobar-x-button<%= index %>").click(function () { ' +
             'jQuery(".header-promo-bar<%= index %>").css("visibility", "hidden"); ' + 
          '}); ' +
          'if (!<%= bar.enabled_on_mobile? %>) { ' +
            'if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) { ' +
              'jQuery(".header-promo-bar<%= index %>").remove();' +
            '} ' +
          '} ' +
        '}); ' +
    '</script>').appendTo('head');
    jQuery('<style> ' + 
      '.header-promo-bar<%= index %> a:hover { ' +
      ' background-color: <%= bar.button_hover %> !important;' +
      '}' + 
    '</style>').appendTo('head');
    <% unless bar.subheader.nil? %>
      jQuery('.searchArea').parent().prepend('<div <%= bar.subheader.subheader_link_onclick %> class="subheader-promo-bar<%= index %>" ' +
        ' style="float:left; width: 45%; height:40px; display: inline-block; margin-top: -30px;  text-align: <%= bar.subheader.text_align(bar.subheader.alignment)%>;' +
        ' <%= "cursor: pointer;" unless bar.subheader.subheader_link == "" or bar.subheader.subheader_link.nil? %>' +
        ' visibility: <%= bar.subheader.display_bar %>; opacity: <%= (100 - bar.background_opacity) / 100.0 %>;' +
        ' background: <%= bar.subheader.background_color %>;">' +
        ' <h2 class="<%= bar.animation(bar.subheader.text_animation) %>"' +
        ' style="display:inline-block; margin-top:7px; width:70%;"> ' + 
        '<% unless bar.subheader.text.nil? %>'  +
        '<% sub_text = raw(bar.subheader.text.gsub("'","&#39;").gsub("\n","").gsub("\r","")) %> ' +
        ' <%= sub_text %> ' +
        '<% end %> ' +
        ' </h2><a href="' + '<%= bar.subheader.url_link %>' + '" target=<%= bar.subheader.link_blank %>' +  
        ' style="display: <%= bar.subheader.display_button %>; height:25px; margin-top:0px; ' +
        ' background-color: <%= bar.subheader.button_color %>; ' +
        ' border-radius: 5px;"' +
        ' class="btn btn-sm btn-primary subheader-button"><%= render html: bar.subheader.button_text.gsub("'","&#39;").gsub("\n","").gsub("\r","").html_safe unless bar.subheader.button_text.nil? %></a>' +
        ' <button id="subheader-promobar-x-button<%= index %>" class="btn btn-sm btn-primary"' +
        ' style="display: <%= bar.subheader.display_x unless bar.subheader.nil? %>; float: right; border-radius: 5px;"' + 
        ' type="button">X</button> ' +
        ' </div>');
      jQuery('<style> ' + 
        '.subheader-promo-bar<%= index %> a:hover { ' +
        ' background-color: <%= bar.subheader.button_hover %> !important;' +
        '}' + 
      '</style>').appendTo('head');
      jQuery('<script type="text/javascript"> ' + 
        'jQuery(document).ready(function () { ' +
          'jQuery("#subheader-promobar-x-button<%= index %>").click(function () { ' +
             'jQuery(".subheader-promo-bar<%= index %>").css("visibility", "hidden"); ' + 
          '}); ' +
          'if (!<%= bar.subheader.enabled_on_mobile? %>) { ' +
            'if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) { ' +
              'jQuery(".subheader-promo-bar<%= index %>").remove();' +
            '} ' +
          '} ' +
        '}); ' +
    '</script>').appendTo('head');
    <% end %>
  <% end %>
  jQuery('<script type="text/javascript"> ' + 
      'jQuery(document).ready(function () { ' +
        'var divs = jQuery(\'div[class^="header-promo-bar"]\'); ' +
        'divs.hide(); ' +
        'var i; ' +
        'i = 0; ' +
        '(function cycle() { ' +
          <% if @lock.turned_on and @lock.disable_transition %>
          'divs.eq(i).fadeIn(50) ' +
                    '.delay(<%= @change_time * 1000 %>) ' +
                    '.fadeOut(50, cycle); ' +
          <% else %>
          'divs.eq(i).fadeIn(400) ' +
                    '.delay(<%= @change_time * 1000 %>) ' +
                    '.fadeOut(400, cycle); ' +
          <% end %>
          'i = ++i % divs.length; '  +
        '})(); ' +
      '}); ' +
    '</script>').appendTo('head');
    jQuery('<script type="text/javascript"> ' + 
      'jQuery(document).ready(function () { ' +
        'var divs = jQuery(\'div[class^="subheader-promo-bar"]\'); ' +
        'divs.hide(); ' +
        'var i; ' +
        'i = 0; ' +
        '(function cycle() { ' +
          'divs.eq(i).fadeIn(400) ' +
                    '.delay(<%= @change_time * 1000 %>) ' +
                    '.fadeOut(400, cycle); ' +
          'i = ++i % divs.length; '  +
        '})(); ' +
      '}); ' +
    '</script>').appendTo('head');
    
     
<% end %>
<% unless @footer_promobars.empty? %>
  var footer_append_node = jQuery('body');
  <% if @lock.turned_on %>
  jQuery('<div class="footer-promo" style="top: 0; width: 100%; height:<%= @footer_promobars.last.promobar_height(@footer_promobars.last.height) %>;' +
      ' background: <%= @lock.color %>; ">' +
      '</div>').appendTo('body');
  footer_append_node = jQuery('.footer-promo');
  <% end %>
  <% @footer_promobars.each_with_index do |bar, index| %>
    jQuery('<div <%= bar.promobar_link_onclick %> class="footer-promo-bar<%= index %>" style="visibility: <%= bar.display_bar %>; width: 100;' + 
      '<%= "cursor: pointer;" unless bar.promobar_link == "" or bar.promobar_link.nil? %>' + 
      ' background: <%= @lock.turned_on ? "" : bar.background_color %>; ' +
      ' opacity: <%= (100 - bar.background_opacity) / 100.0 %>;' +
      'text-align: <%= bar.text_align(bar.alignment)%>; ' +
      'height: 100px;">' +
      ' <h1 class="<%= bar.animation(bar.text_animation) %>" ' +
      ' style="display: inline-block; padding-bottom: 0px !important;' + 
      ' line-height: <%= bar.line_height(bar.height) %>;"><%= render html: bar.text.gsub("'","&#39;").gsub("\n","").gsub("\r","").html_safe %></h1>' +
      ' <a href="' + '<%= bar.url_link %>' + '" target=<%= bar.link_blank %>' +  
      ' style="display: <%= bar.display_button %>; height:45px;' +
      ' background-color: <%= bar.button_color %>; border-radius: 5px;"' +
      ' class="btn btn-sm btn-primary promobar-button"><%= render html: bar.button_text.gsub("'","&#39;").gsub("\n", "").gsub("\r","").html_safe unless bar.button_text.nil? %></a>' +
      ' <button id="footer-promobar-x-button<%= index %>" class="btn btn-sm btn-primary"' +
      ' style="display: <%= bar.display_x %>; float: right; border-radius: 5px;"' + 
      ' type="button">X</button></div>').appendTo(footer_append_node);
    jQuery('<script type="text/javascript"> ' + 
        'jQuery(document).ready(function () { ' +
          'jQuery("#footer-promobar-x-button<%= index %>").click(function () { ' +
             'jQuery(".footer-promo-bar<%= index %>").css("visibility", "hidden"); ' + 
          '}); ' +
          'if (!<%= bar.enabled_on_mobile? %>) { ' +
            'if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) { ' +
              'jQuery(".footer-promo-bar<%= index %>").remove();' +
            '} ' +
          '} ' +
        '}); ' +
    '</script>').appendTo('head');
    jQuery('<style> ' + 
      '.footer-promo-bar<%= index %> a:hover { ' +
      ' background-color: <%= bar.button_hover %> !important;' +
      '}' + 
    '</style>').appendTo('head');
  <% end %>
  jQuery('<script type="text/javascript"> ' + 
      'jQuery(document).ready(function () { ' +
        'var divs = jQuery(\'div[class^="footer-promo-bar"]\'); ' +
        'divs.hide(); ' +
        'var i; ' +
        'i = 0; ' +
        '(function cycle() { ' +
          <% if @lock.turned_on and @lock.disable_transition %>
          'divs.eq(i).fadeIn(50) ' +
                    '.delay(<%= @change_time * 1000 %>) ' +
                    '.fadeOut(50, cycle); ' +
          <% else %>
          'divs.eq(i).fadeIn(400) ' +
                    '.delay(<%= @change_time * 1000 %>) ' +
                    '.fadeOut(400, cycle); ' +
          <% end %>
          'i = ++i % divs.length; '  +
        '})(); ' +
      '}); ' +
    '</script>').appendTo('head');
<% end %>
<% unless @store_promobars.empty? %>
  <% if @store_promobars.first.only_on_index %>
    jQuery('<script>' +
      'if (window.location.pathname !== "/") {' + 
        'jQuery("div[class^=\\\"header-promo-bar\\\"]").remove();' +
        'jQuery("div[class=\\\"header-promo\\\"]").remove();' + 
        'jQuery("div[class^=\\\"footer-promo-bar\\\"]").remove();' + 
        'jQuery("div[class=\\\"footer-promo\\\"]").remove();' +
        'jQuery("div[class^=\\\"subheader-promo-bar\\\"]").remove();' +
      '}' + 
    '</script>').appendTo('head');
  <% end %>
<% end %>
