
<script type="text/javascript"> 

  $(document).ready(function() {
    $(function() {
      $('.add_subheader').bootstrapSwitch();
      $('.add_subheader').on('switchChange.bootstrapSwitch', function(event, state) {
        var id, promobar_show;
        promobar_show = state;
        id = $(this).attr("id");
        $('form[id^="edit_subheader_"]').toggle();
        $.ajax("/promobar/promobars/" + id + "/subheader.json", {
          type: 'POST',
          dataType: 'json',
          data: {
            _method: 'PUT',
            "subheader[promobar_show]": promobar_show
          },
          success: function() {
            alert("success");
          }
        });
      });
    });
    if (<%= @subheader.promobar_show == true %>) {
      $('.edit_subheader').show();  
    } else {
      $('.edit_subheader').hide();
    }
    if (<%= @subheader.button_on == true %>) {
      $('.subheader-button-info').show();  
    } else {
      $('.subheader-button-info').hide();
    }
  });
</script>
<%= form_for([@promobar, @subheader], class: "subheader-form") do |f| %>
  <div class="form-group">
    <%= f.hidden_field :promobar_show, value: @subheader.promobar_show, class: "form-control subheader_promobar_show" %>  
  </div> 
  

  <div class="col-md-12" style="border-bottom: 3px solid #000;margin-bottom: 30px;">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <% if @subheader.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @subheader.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% flash[:error].each do |error| %>
                <li><%= error %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag 'subheader[background_color]', "BACKGROUND COLOR" %>
        <%= f.text_field :background_color, class: "form-control subheader-background-color" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag "OPACITY", "OPACITY" %>
        <div class="subheader-opacity-slider" style="margin-top: 35px;"></div>
        <span class="subheader-opacity-value" style="display:block; text-align:center; font-weight:bold;"><%= @subheader.background_opacity %>%</span>
        <%= f.hidden_field :background_opacity, class: "form-control subheader-opacity-switcher" %>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'subheader[text]', "SUBHEADER TEXT:" %>
        <%= f.text_area :text, :class => "subheader_text form-control", placeholder: "ENTER TEXT HERE" %>
        <script>
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.subheader_text",
                statusbar: false,
                menubar: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    enable_subheader_save();
                  });
                },
                resize: false,
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing"],
                plugins: "textcolor,letterspacing"
              });
            } else {
              setTimeout(arguments.callee, 50);
            }
          })();

          //]]>
        </script>
        
        

      </div>
    </div>
    
    <input class="btn btn-primary pull-right subheader_button_switcher" name="commit" type="button" value="<%= @subheader.button_on ? "BUTTON OFF": "BUTTON ON" %>" />
    <div class="row subheader-button-info">
        
        <div class="col-md-12">
          <div class="form-group">
            <label for="subheader_button_text" style="display:inline-block; width:100%;">SUBHEADER BUTTON TEXT:
              <div class="form-group pull-right">
                
                <%= f.hidden_field :button_on, value: @subheader.button_on, class: "form-control subheader_button_on" %>
              </div>
            </label>
            <%= f.text_area :button_text, :class => "tinymce_subheader_button form-control", placeholder: "ENTER TEXT HERE" %>
            <script>
              //<![CDATA[
              (function() {
                if (typeof tinyMCE != 'undefined') {
                  tinyMCE.init({
                    selector: "textarea.tinymce_subheader_button",
                    statusbar: false,
                    menubar: false,
                    resize: false,
                    setup: function (editor) {
                      editor.on('change', function (e) {  
                        enable_subheader_save();
                      });
                    },
                    theme: "modern",
                    fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                    font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                    toolbar: ["undo redo | removeformt bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing"],
                    plugins: "textcolor,letterspacing"
                  });
                } else {
                  setTimeout(arguments.callee, 50);
                }
              })();

              //]]>
            </script>
          </div>
        </div>

      </div>
    <div class="row subheader-button-info">
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag 'subheader[button_color]', "SUBHEADER BUTTON COLOR" %>
          <%= f.text_field :button_color, class: "form-control subheader-button-background-color" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag 'subheader[button_hover]', "HOVER" %>
          <%= f.text_field :button_hover, class: "form-control subheader-button-hover" %>
        </div>
      </div>

    </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= label_tag 'subheader[text_animation]', "SUBHEADER TEXT ANIMATION" %><br>
          <%= f.select :text_animation, { 'FLY FROM LEFT' => 1, 'FADE IN' =>  2, 'BOUNCE' => 3 }, {}, { :class => "form-control text-animation-select" } %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= label_tag 'subheader[text_animation]', "SUBHEADER TEXT ALIGNMENT" %><br>
          <%= f.select :alignment, { 'CENTER' => 1, 'LEFT' =>  2, 'RIGHT' => 3 }, {}, { :class => "form-control bar-align-select" } %>
        </div>
      </div>



      <div class="col-md-12">
        <div class="form-group">
          <%= label_tag 'subheader[text_animation]', "SUBHEADER URL LINK" %><br>
          <%= f.text_field :url_link, class: "form-control url-link" %>
        </div>

        <div class="form-group">
          <%= label_tag nil, "OPEN IN NEW TAB" %>
          <%= f.check_box :url_link_blank, class: "link-blank" %><br>
          <%= label_tag nil, "ENABLE ON MOBILE DEVICES" %>
          <%= f.check_box :enable_on_mobile, class: "enable-on-mobile" %><br>
          <%= label_tag nil, "ENABLE X BUTTON" %>
          <%= f.check_box :x_button_on, class: "enable-x" %>
        </div>
      </div>
    </div>


    <div class="col-md-2">
      <div class="actions">
        <%= f.submit "SAVE SUBHEADER", class: "btn btn-success", id: "subheader-save", style: "width: 80%;"%>
      </div>
    </div>

  </div>



<% end %>



