<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home"
    });
  });
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Promo bars</h3>
  </div>
  <div class="panel-body">
    <%= link_to 'Add promo bar', new_promobar_path, class: 'btn btn-primary' %><br/><br/>
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>
    <!--<p>Script counter: <%#= @counter %></p>-->

    <%# if @sc.is_a? String %>
      <!--<p><%#= @sc %></p>-->
    <%# else %>
      <!--<p>Script attributes: <%#= @sc.attributes.inspect %></p>-->
    <%# end %>

    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>ORDER</th>
        <th>BAR TITLE</th>
        <th>BAR TEXT</th>
        <th>BUTTON</th>
        <th>SUB-HEADER</th>
        <th>DATE</th>
        <th>ON/OFF</th>
      </tr>
      </thead>

      <tbody>
      <% @promobars.each do |bar| %>
          <% if bar.type == 1 %>
            <tr>
              <td><%= bar.id %></td>
              <td><%= bar.name %></td>
              <td><%= bar.text %></td>
              <td><%= bar.button_on? "YES" : "NO"%></td>
              <td>NO</td> 
              <td ><%= bar.updated_at == bar.created_at ? 'Created: ' + bar.created_at.to_s: 'Updated: ' + bar.updated_at.to_s %></td>
              <td style="width: 5%;"><%= link_to 'Edit', edit_promobar_path(bar) %></td>
              <td><%= bar.promobar_show? "YES" : "NO" %></td>
            </tr>
          <% end %>
      <% end %>

      <% unless @promobars.any? %>
          <tr>
            <td colspan="4">No promo bars found.</td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>
