<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Promo bars management</h3>
  </div>
  <div class="panel-body">
    <%= link_to 'Manage promo bars', manage_promobars_path, class: 'btn btn-primary' %>
    <br/><br/><br/>

    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>

        <% @promobars.each do |bar| %>
            <tr>
              <td style="width: 30%;"><%= bar.id %></td>
              <td style="width: 30%;"><%= bar.bar_type == 1? "HEADER BAR": "FOOTER BAR" %></td>
              <td style="width: 5%;"><%= link_to 'Edit', edit_promobar_path(bar) %></td>
              <td style="width: 5%;"><%= link_to 'Destroy', promobar_path(bar), method: :delete, data: { confirm: 'Are you sure, you want to delete this bar?' } %></td>
            </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
