<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home"
    });
  });
</script>
<script>

function swapRows(row1,row2){
  row1_order_number = row1.find("td:nth-child(2)").text();
  row2_order_number = row2.find("td:nth-child(2)").text();
  row1.find("td:nth-child(2)").text(row2_order_number);
  row2.find("td:nth-child(2)").text(row1_order_number);
  row1.find("td:first").insertBefore(row2.find("td:first"));
  row2.find("td:nth-child(2)").insertBefore(row1.find("td:first"));
  row1.insertBefore(row2);
}

function neededArrows(){
  $("a.up").show();
  $("a.down").show();
  $("table.headers-table > tbody > tr:first td:first a.up").hide();
  $("table.footers-table > tbody > tr:first td:first a.up").hide();
  $("table.headers-table > tbody > tr:last td:first a.down").hide();
  $("table.footers-table > tbody > tr:last td:first a.down").hide();
}

$(document).ready(function(){
  $("tr.off a.up").hide();
  $("tr.off a.down").hide();


  $("table.headers-table > tbody > tr:first td:first a.up").hide();
  $("table.footers-table > tbody > tr:first td:first a.up").hide();
  $("table.headers-table > tbody > tr:last td:first a.down").hide();
  $("table.footers-table > tbody > tr:last td:first a.down").hide();
  $(".up,.down").click(function(){
    var row = $(this).parents("tr:first");
    if ($(this).is(".up")) {
      swapRows(row, row.prev());
    } else {
      swapRows(row.next(), row);
    }
  });
});

$(function() {
  $('.promobar_switcher').bootstrapSwitch();
  return $('.promobar_switcher').on('switchChange.bootstrapSwitch', function(event, state) {
    var id, promobar_show, order_number, banners_on, banner_type
    promobar_show = state;
    var row = $(this).parents("tr:first");
    
    if ($(this).hasClass("header")) {
      banner_type = "headers-table";
    } else
      banner_type = "footers-table";
    rows_on = $('table.'+ banner_type +' tr.on');
    banners_on = rows_on.length;
    
    var last_row = $('table.' + banner_type + ' tr:last');
    if (!state) {
      row.addClass("off");  
      row.removeClass("on"); 
      row.find("td:nth-child(2)").text('-');
      row.insertAfter(last_row);
      $('table.' + banner_type + ' > tbody > tr.on').each(function(i, r) {
        $(r).find("td:nth-child(2)").text(i+1);
      });
        
      
    } else {
      row.addClass("on");  
      row.removeClass("off"); 
      row.find("td:nth-child(2)").text(banners_on + 1);
      if (banners_on != 0) {
        row.insertAfter($('table.'+ banner_type +' tr.on:nth-child('+ banners_on +')'));
      } else {
        row.insertBefore($('table.'+ banner_type +' > tbody > tr:first'));
      }
      
    }

    neededArrows();

    id = $(this).attr("id");
    //order_number = parseInt($('.order_number' + id).text());
    

    order_number = $(this).parents("tr:first").find("td:nth-child(2)").text();
    //alert(order_number);
    //$('.order_number' + id).text(order_number);
    
    $.ajax("/promobars/" + id + ".json", {
      type: 'POST',
      dataType: 'json',
      data: {
        _method: 'PUT',
        "promobar[promobar_show]": promobar_show
      },
      success: function() {
        alert("success");
      }
    });
    $.ajax("/promobars/" + id + "/subheader.json", {
      type: 'POST',
      dataType: 'json',
      data: {
        _method: 'PUT',
        "subheader[promobar_show]": promobar_show
      },
      success: function() {
        alert("success");
      }
    });
  });
});

function saveBannerOrder(){
  row = $("table > tbody > tr").each(function(i, r){
    var id, order_number;
    id = $(r).find(".promobar_switcher").attr("id");
    order_number = $(r).find("td:nth-child(2)").text();
    if (order_number === '-') {
      order_number = 1000;
    } else {
      order_number = parseInt(order_number);
    }
    //alert("order_number " + order_number + " id " + id);
    $.ajax("/promobars/" + id + ".json", {
      type: 'POST',
      dataType: 'json',
      data: {
        _method: 'PUT',
        "promobar[order_number]": order_number
      },
      success: function() {
        alert("success");
      }
    });
    alert("Banners order updated.");  
  });
  
}

</script>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Promo bars</h3>
  </div>
  <div class="panel-body">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <!--<p>Script counter: <%#= @counter %></p>-->

    <%# if @sc.is_a? String %>
      <!--<p><%#= @sc %></p>-->
    <%# else %>
      <!--<p>Script attributes: <%#= @sc.attributes.inspect %></p>-->
    <%# end %>

    <table class="table table-bordered table-striped table-hover headers-table" style="text-align:center;">
      <caption style="text-align:center;">
        HEADER BANNERS
      </caption>
      <thead>
      <tr>
        <th></th>
        <th>ORDER NUMBER</th>
        <th>BAR TITLE</th>
        <th>BAR TEXT</th>
        <th>BUTTON</th>
        <th>SUB-HEADER</th>
        <th>DATE</th>
        <th>ON/OFF</th>
      </tr>
      </thead>

      <tbody>
      <% @headers_on.each_with_index do |bar, i| %>
        <tr class="<%= bar.promobar_show ? "on" : "off" %>">
          <td>
            <a href="#" class="up">Up</a>
            <a href="#" class="down">Down</a>
          </td>
          <td class="order_number<%= bar.id %> order"><%= bar.order_number %></td>
          <td><%= link_to bar.name, edit_promobar_path(bar) %></td>
          <td><%= render html: bar.text.html_safe %></td>
          <td><%= bar.button_on ? "YES" : "NO"%></td>
          <td><%= bar.subheader.promobar_show ? "YES" : "NO" unless bar.subheader.nil? %></td> 
          <td ><%= bar.updated_at == bar.created_at ? 'Created: ' + bar.created_at.to_s: 'Updated: ' + bar.updated_at.to_s %></td>
          <td>
          <input class="promobar_switcher header" id=<%="#{bar.id}"%> type="checkbox" <%= !bar.promobar_show ? "" : "checked" %> />
          </td>
        </tr>
      <% end %>

      <% @headers_off.each_with_index do |bar, i| %>
        <tr class="<%= bar.promobar_show ? "on" : "off" %>">
          <td>
            <a href="#" class="up">Up</a>
            <a href="#" class="down">Down</a>
          </td>
          <td class="order_number<%= bar.id %> order">-</td>
          <td><%= link_to bar.name, edit_promobar_path(bar) %></td>
          <td><%= render html: bar.text.html_safe %></td>
          <td><%= bar.button_on ? "YES" : "NO"%></td>
          <td><%= bar.subheader.promobar_show ? "YES" : "NO" unless bar.subheader.nil? %></td> 
          <td ><%= bar.updated_at == bar.created_at ? 'Created: ' + bar.created_at.to_s: 'Updated: ' + bar.updated_at.to_s %></td>
          <td>
          <input class="promobar_switcher header" id=<%="#{bar.id}"%> type="checkbox" <%= !bar.promobar_show ? "" : "checked" %> />
          </td>
        </tr>
      <% end %>

      <% unless @promobars.where(bar_type: 1).any? %>
          <tr>
            <td colspan="7">No header banners found.</td>
          </tr>
      <% end %>

      </tbody>
    </table>

    <table class="table table-bordered table-striped table-hover footers-table" style="text-align:center;">
      <caption style="text-align:center;">
        FOOTER BANNERS
      </caption>
      <thead>
      <tr>
        <th></th>
        <th>ORDER NUMBER</th>
        <th>BAR TITLE</th>
        <th>BAR TEXT</th>
        <th>BUTTON</th>
        <th>DATE</th>
        <th>ON/OFF</th>
      </tr>
      </thead>

      <tbody>
      <% @footers_on.each_with_index do |bar, i| %>
        <tr class="<%= bar.promobar_show ? "on" : "off" %>">
          <td>
            <a href="#" class="up">Up</a>
            <a href="#" class="down">Down</a>
          </td>
          <td class="order_number<%= bar.id %> order"><%= bar.order_number  %></td>
          <td><%= link_to bar.name, edit_promobar_path(bar) %></td>
          <td><%= render html: bar.text.html_safe %></td>
          <td><%= bar.button_on ? "YES" : "NO"%></td>
          <td ><%= bar.updated_at == bar.created_at ? 'Created: ' + bar.created_at.to_s: 'Updated: ' + bar.updated_at.to_s %></td>
          <td>
          <input class="promobar_switcher footer" id=<%="#{bar.id}"%> type="checkbox" <%= !bar.promobar_show ? "" : "checked" %> />
          </td>
        </tr>
      <% end %>

      <% unless @promobars.where(bar_type: 2).any? %>
          <tr>
            <td colspan="7">No footer banners found.</td>
          </tr>
      <% end %>

      <% @footers_off.each_with_index do |bar, i| %>
        <tr class="<%= bar.promobar_show ? "on" : "off" %>">
          <td>
            <a href="#" class="up">Up</a>
            <a href="#" class="down">Down</a>
          </td>
          <td class="order_number<%= bar.id %> order">-</td>
          <td><%= link_to bar.name, edit_promobar_path(bar) %></td>
          <td><%= render html: bar.text.html_safe %></td>
          <td><%= bar.button_on ? "YES" : "NO"%></td>
          <td ><%= bar.updated_at == bar.created_at ? 'Created: ' + bar.created_at.to_s: 'Updated: ' + bar.updated_at.to_s %></td>
          <td>
          <input class="promobar_switcher footer" id=<%="#{bar.id}"%> type="checkbox" <%= !bar.promobar_show ? "" : "checked" %> />
          </td>
        </tr>
      <% end %>

      <% unless @promobars.where(bar_type: 2).any? %>
          <tr>
            <td colspan="7">No footer banners found.</td>
          </tr>
      <% end %>

      </tbody>
    </table>

    <%= link_to 'ADD ANOTHER BANNER', new_promobar_path, class: 'btn btn-primary' %>
    <input type="button" value="Save banners order" class="btn btn-success" onclick="saveBannerOrder()">
  </div>
</div>
