<script type="text/javascript">


    $('.bar-background-color').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".bar-background-color").attr("value") || "#000000",
      change: function(value) {
        $('.bar-background-color').attr("value", value)
      }
    });

    $('.button-background-color').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".button-background-color").attr("value") || "#ffffff",
      change: function(value) {
        $('.button-background-color').attr("value", value)
      }
    });

    $('.button-hover').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".button-hover").attr("value") || "#000000",
      change: function(value) {
        $('.button-hover').attr("value", value)
      }
    });



    $( ".bar-opacity-slider" ).slider({
      range: "max",
      min: 1,
      max: 100,
      value: $(".bar-opacity-switcher").attr("value"),
      slide: function(event, ui) {
        $(".bar-opacity-switcher").attr("value", ui.value);
        $(".bar-opacity-value").html(ui.value + "%");
      }
    });

    $('.button_switcher').bind('click', function() {
      if ($('.button_switcher').attr("value") === "BUTTON ON") {
        $('.button_switcher').attr("value", "BUTTON OFF");
      } else {
        $('.button_switcher').attr("value", "BUTTON ON");
      }
   
      if ($('.button_on').attr("value") == "true") {
        $('.button_on').attr("value", "false");
      } else {
        $('.button_on').attr("value", "true");
      }
    });

    

</script>

<script type="text/javascript">

    $('.subheader-background-color').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".subheader-background-color").attr("value") || "#000000",
      change: function(value) {
        $('.subheader-background-color').attr("value", value)
      }
    });

    $('.subheader_button_switcher').bind('click', function() {
      if ($('.subheader_button_switcher').attr("value") === "BUTTON ON") {
        $('.subheader_button_switcher').attr("value", "BUTTON OFF");
      } else {
        $('.subheader_button_switcher').attr("value", "BUTTON ON");
      }
   
      if ($('.subheader_button_on').attr("value") == "true") {
        $('.subheader_button_on').attr("value", "false");
      } else {
        $('.subheader_button_on').attr("value", "true");
      }
    });

    $( ".subheader-opacity-slider" ).slider({
      range: "max",
      min: 1,
      max: 100,
      value: $(".subheader-opacity-switcher").attr("value"),
      slide: function(event, ui) {
        $(".subheader-opacity-switcher").attr("value", ui.value);
        $(".subheader-opacity-value").html(ui.value + "%");
      }
    });

    $('.subheader-button-background-color').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".subheader-button-background-color").attr("value") || "#ffffff",
      change: function(value) {
        $('.subheader-button-background-color').attr("value", value)
      }
    });

    $('.subheader-button-hover').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".subheader-button-hover").attr("value") || "#000000",
      change: function(value) {
        $('.subheader-button-hover').attr("value", value)
      }
    });

    $('.add_subheader').bind('click', function() {
      if ($('.add_subheader').attr("value") === "ADD SUBHEADER") {
        $('.button_switcher').attr("value", "DELETE SUBHEADER");
      } else {
        $('.button_switcher').attr("value", "ADD SUBHEADER");
      }
   
      if ($('.subheader_promobar_show').attr("value") == "true") {
        $('.subheader_promobar_show').attr("value", "false");
      } else {
        $('.subheader_promobar_show').attr("value", "true");
      }
    });

    
</script>

<script type="text/javascript">
  tinymce.PluginManager.add('letterspacing', function(editor, url) {
    editor.addButton('letterspacing', {
      text: 'Letter Spacing',
      type: 'menubutton',
      icon: false,
      menu: [
        {
          text: '0px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'letter-spacing' : '0px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '1px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'letter-spacing' : '1px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '2px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'letter-spacing' : '2px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '3px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'letter-spacing' : '3px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '4px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'letter-spacing' : '4px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '5px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'letter-spacing' : '5px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        }
      ]

    });
  });

  tinymce.PluginManager.add('lineheight', function(editor, url) {
    editor.addButton('lineheight', {
      text: 'Line Height',
      type: 'menubutton',
      icon: false,
      menu: [
        {
          text: '10px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'line-height' : '10px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '15px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'line-height' : '15px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '20px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'line-height' : '20px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '25px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'line-height' : '25px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        },
        {
          text: '30px', onclick: function() {
            tinymce.activeEditor.formatter.register('mycustomformat', {
              inline : 'span',
              styles : { 'line-height' : '30px'}
            });
            tinymce.activeEditor.formatter.apply('mycustomformat');
          }
        }
      ]

    });
  });
</script>
<script type="text/javascript">
  function saveButtonText() {
    $('#promobar_button_text').tinymce().save();
  }
</script>

<!-- Bar form -->
<%= form_for(@promobar, class: "bar-form", :html => {:onsubmit => "saveButtonText()"}) do |f| %>

  <div class="col-md-12" style="border-bottom: 3px solid #000;margin-bottom: 30px;">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <% if @promobar.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @promobar.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% flash[:error].each do |error| %>
                <li><%= error %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="actions">
        <%= f.submit 'Back', class: "btn btn-primary btn-default", style: "margin-bottom: 25px; width: 50%;" %>
      </div>
    </div>    
  </div>
  

  <div class="row" style="margin-bottom: 25px;">

    <div class="form-group col-md-4">
      <div class="col-md-4">
        <%= label_tag 'promobar[bar_type]', 'SELECT BANNER TYPE:' %>  
      </div>
      <div class="col-md-4">
        <%= f.select :bar_type, { 'HEADER BAR' => 1, 'FOOTER BAR' =>  2 }, { selected: @promobar.bar_type }, { :class => "form-control" } %>  
      </div>
    </div>
    
    <% unless @promobar.promobar_show %>
      <div class="col-md-2">
        <%= f.submit "Display", class: "btn btn-primary", id: "display_bar_button", style: "width: 80%;" %>
      </div>
    <% end %>
    
    <% if @promobar.promobar_show and params[:action] != 'new' %>
      <div class="col-md-2">
        <div class="actions">
          <%= f.submit "Hide", class: "btn btn-warning", id: "hide_bar_button", style: "width: 80%;" %>
        </div>
      </div>
    <% end %>

    <% unless @promobar.id.nil? %>
      <div class="col-md-2">
        <%= link_to 'Delete', promobar_url(@promobar), method: :delete, class: "btn btn-danger", style: "width: 80%;",
                               data: { confirm: 'Are you sure, you want to delete this promo bar?' } %>  
      </div>
    <% end %>
    
    <div class="col-md-2">
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-success", style: "width: 80%;"%>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[name]', "BANNER TITLE:" %><br>
        <%= f.text_field :name, class: "form-control", placeholder: "ENTER TEXT HERE" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag 'promobar[background_color]', "BACKGROUND COLOR" %>
        <%= f.text_field :background_color, class: "form-control bar-background-color" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag "OPACITY", "OPACITY" %>
        <div class="bar-opacity-slider" style="margin-top: 35px;"></div>
        <span class="bar-opacity-value" style="display:block; text-align:center; font-weight:bold;"><%= @promobar.background_opacity %>%</span>
        <%= f.hidden_field :background_opacity, class: "form-control bar-opacity-switcher" %>
      </div>
    </div>

  </div>

  

  
  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text]', "BANNER TEXT:" %>
        <%= f.text_area :text, :class => "tinymce form-control", placeholder: "ENTER TEXT HERE" %>
        <%= tinymce %>
        
        

      </div>
    </div>

  </div>



  <div class="row">
    
    <div class="col-md-12">
      <div class="form-group">
        <label for="button_text" style="display:inline-block; width:100%;">BUTTON TEXT:
          <div class="form-group pull-right">
            <input class="btn btn-primary pull-right button_switcher" name="commit" type="button" value="<%= @promobar.button_on ? "BUTTON OFF": "BUTTON ON" %>" />
            <%= f.hidden_field :button_on, value: @promobar.button_on, class: "form-control button_on" %>
          </div>
        </label>
        <%= f.text_area :button_text, :class => "tinymce_button form-control", placeholder: "ENTER TEXT HERE" %>
        <script>
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce_button",
                statusbar: false,
                menubar: false,
                resize: false,
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                theme_advanced_fonts: "Arial=arial,Times New Roman=times new roman,times;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor,letterspacing,lineheight"
              });
            } else {
              setTimeout(arguments.callee, 50);
            }
          })();

          //]]>
        </script>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- <div class="col-md-4">
      <div class="form-group">
        <%= label_tag 'promobar[button_shape]', "BUTTON SHAPE" %>
        <%= f.select :button_shape, { 'RECTANGLE' => 1, 'SQUARE' =>  2 }, {}, { :class => "form-control" } %>
      </div>
    </div> -->

    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag 'promobar[button_color]', "BUTTON COLOR" %>
        <%= f.text_field :button_color, class: "form-control button-background-color" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag 'promobar[button_hover]', "HOVER" %>
        <%= f.text_field :button_hover, class: "form-control button-hover" %>
      </div>
    </div>

  </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text_animation]', "TEXT ANIMATION" %><br>
        <%= f.select :text_animation, { 'FLY FROM LEFT' => 1, 'FADE IN' =>  2, 'BOUNCE' => 3 }, {}, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text_animation]', "TEXT ALIGNMENT" %><br>
        <%= f.select :alignment, { 'CENTER' => 1, 'LEFT' =>  2, 'RIGHT' => 3 }, {}, { :class => "form-control" } %>
      </div>
    </div>



    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text_animation]', "URL LINK" %><br>
        <%= f.text_field :url_link, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag nil, "OPEN IN NEW TAB" %>
        <%= f.check_box :url_link_blank %><br>
        <%= label_tag nil, "ENABLE ON MOBILE DEVICES" %>
        <%= f.check_box :enable_on_mobile %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <% unless params[:action] == 'new' %>
          <%= link_to 'ADD ANOTHER BANNER', new_promobar_path, class: 'btn btn-primary', style: "width: 80%;" %>
        <% end %>  
      </div>
      
      <% unless @promobar.promobar_show %>
        <div class="col-md-2">
          <%= f.submit "Display", class: "btn btn-primary", id: "display_bar_button", style: "width: 80%;" %>
        </div>
      <% end %>
      
      <% if @promobar.promobar_show and params[:action] != 'new' %>
        <div class="col-md-2">
          <div class="actions">
            <%= f.submit "Hide", class: "btn btn-warning", id: "hide_bar_button", style: "width: 80%;" %>
          </div>
        </div>
      <% end %>

      <% unless @promobar.id.nil? %>
        <div class="col-md-2">
          <%= link_to 'Delete', promobar_url(@promobar), method: :delete, class: "btn btn-danger", style: "width: 80%;",
                                 data: { confirm: 'Are you sure, you want to delete this promo bar?' } %>  
        </div>
      <% end %>
      
      <div class="col-md-2">
        <div class="actions">
          <%= f.submit "Save", class: "btn btn-success", style: "width: 80%;"%>
        </div>
      </div>
    </div>
  


<% end %>


<!-- Bar form end -->


