<script type="text/javascript">
</script>

<!-- Bar form -->
<%= form_for(@promobar, class: "bar-form") do |f| %>

  <div class="col-md-12" style="border-bottom: 3px solid #000;margin-bottom: 30px;">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <% if @promobar.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @promobar.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% flash[:error].each do |error| %>
                <li><%= error %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-md-9">
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag 'promobar[bar_type]', 'SELECT BAR' %><br>
          <%= f.select :font, { 'HEADER BAR' => 1, 'FOOTER BAR' =>  2 }, {}, { :class => "form-control" } %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="actions">
        <%= f.submit "Refresh", :type => "reset", class: "btn btn-primary pull-left", style: "width:40%;" %>
        <%= f.submit "Save", class: "btn btn-success pull-right", style: "width:40%;" %>
      </div>
    </div><br><br>

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[name]', "BAR NAME" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
      <%= label_tag 'promobar[text]', "BAR TEXT" %><br>
      <%= f.text_field :text, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag 'promobar[font]', "FONT" %>
        <%= f.select :font, { 'TIMES NEW ROMAN' => 1, 'ARIAL' =>  2 }, {}, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[font_size]', "SIZE" %>
        <%= f.number_field :font_size, value: 5, within: 5..50, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[tracking]', "TRACKING" %>
        <%= f.number_field :tracking, value: 1, within: 1..100, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[leading]', "LEADING" %>
        <%= f.number_field :leading, value: 1, within: 1..100, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag nil, "FORMATTING" %>
        <%= f.check_box :font_regular %>
        <span>REGULAR</span>
        <%= f.check_box :font_bold %>
        <span>BOLD</span>
        <%= f.check_box :font_italic %>
        <span>ITALIC</span>
      </div>
    </div><br>

    <div class="col-md-12" style="padding-left: 0;">
      <div class="col-md-3">
        <div class="form-group">
          <%= label_tag 'promobar[text_color]', "TEXT COLOR" %>
          <%= f.text_field :text_color, class: "form-control bar-text-color" %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div id="color" class="form-group">
        <%= label_tag 'promobar[background_color]', "BACKGROUND COLOR" %>
        <%= f.text_field :background_color, class: "form-control bar-background-color" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <div class="bar-opacity-slider" style="margin-top: 35px;"></div>
        <span class="bar-opacity-value" style="display:block; text-align:center; font-weight:bold;"><%= @promobar.background_opacity %>%</span>
        <%= f.hidden_field :background_opacity, class: "form-control bar-opacity-switcher" %>
      </div>
    </div>

    </div>
  </div>
<% end %>
<!-- Bar form end -->

<!-- Button form -->
<%= form_for(@button, class: "button-form") do |f| %>
  <div class="col-md-12">
    <div class="actions">
      <%= f.submit "Add Button", class: "btn btn-success pull-left" %>
    </div>
  </div><br><br>

  <div class="col-md-12">
    <div class="form-group">
      <%= label_tag 'button[text]', "BUTTON TEXT" %><br>
      <%= f.text_field :text, class: "form-control" %>
    </div>
  </div>

<% end %>
<!-- Button form end -->

