<%= form_for(@promobar) do |f| %>

  <div class="col-md-12">
    <%= render 'flash' %>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :bar_type %><br>
        <%= f.text_field :bar_type %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="actions">
        <%= f.submit nil, class: "btn btn-success" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
      <%= f.label :bar_text %><br>
      <%= f.text_field :bar_text %>
    </div>
      <div class="form-group">
        <%= f.label :bar_font %><br>
        <%= f.text_field :bar_font %>
      </div>
      <div class="form-group">
        <%= f.label :bar_font_size %><br>
        <%= f.number_field :bar_font_size %>
      </div>
      <div class="form-group">
        <%= f.label :bar_tracking %><br>
        <%= f.number_field :bar_tracking %>
      </div>
      <div class="form-group">
        <%= f.label :bar_leading %><br>
        <%= f.number_field :bar_leading %>
      </div>
      <div class="form-group">
        <%= f.label :bar_text_formatting %><br>
        <%= f.number_field :bar_text_formatting %>
      </div>
      <div class="form-group">
        <%= f.label :bar_text_color %><br>
        <%= f.text_field :bar_text_color %>
      </div>
      <div class="form-group">
        <%= f.label :bar_background_color %><br>
        <%= f.text_field :bar_background_color %>
      </div>
      <div class="form-group">
        <%= f.label :bar_background_opacity %><br>
        <%= f.number_field :bar_background_opacity %>
      </div>

    </div>
  </div>
<% end %>



