<script type="text/javascript">
  $(function() {
    $( ".header-bar-opacity-slider" ).slider({
      range: "max",
      min: 1,
      max: 100,
      value: $(".header-bar-opacity-switcher").attr("value"),
      slide: function( event, ui ) {
        $(".header-bar-opacity-switcher").attr("value", ui.value );
        $(".header-bar-opacity-value").html(ui.value + "%");
      }
    });

    $( ".footer-bar-opacity-slider" ).slider({
      range: "max",
      min: 1,
      max: 100,
      value: $(".footer-bar-opacity-switcher").attr("value"),
      slide: function( event, ui ) {
        $(".footer-bar-opacity-switcher").attr("value", ui.value );
        $(".footer-bar-opacity-value").html(ui.value + "%");
      }
    });

    jQuery( function($) {
      $(".text-color").minicolors()
    });
  });
</script>

<%= form_for(@header_promobar, class: "header-bar-form") do |f| %>

  <div class="col-md-12">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <% if @header_promobar.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @header_promobar.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% flash[:error].each do |error| %>
                <li><%= error %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-md-9">
      <div class="form-group">
        <b>HEADER BAR</b>

        <%= f.hidden_field :bar_type, value: 1 %>
        <%#= label_tag 'SELECT BAR' %><br>
        <%#= f.select :bar_type, ['HEADER BAR', 'FOOTER BAR'], {}, { :class => "form-control", :style => "width:30%;" } %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="actions">
        <%= f.submit "Refresh", :type => "reset", class: "btn btn-primary pull-left", style: "width:40%;" %>
        <%= f.submit "Save", class: "btn btn-success pull-right", style: "width:40%;" %>
      </div>
    </div><br><br>

    <div class="col-md-12">
      <div class="form-group">
      <%= label_tag 'promobar[bar_text]', "HEADER BAR TEXT" %><br>
      <%= f.text_field :bar_text, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag 'promobar[bar_font]', "FONT" %>
        <%= f.select :bar_font, { 'TIMES NEW ROMAN' => 1, 'ARIAL' =>  2 }, {}, { :class => "form-control", style: "width 30%;" } %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[bar_font_size]', "SIZE" %>
        <%= f.number_field :bar_font_size, value: 5, within: 5..50, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[bar_tracking]', "TRACKING" %>
        <%= f.number_field :bar_tracking, value: 1, within: 1..100, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[bar_leading]', "LEADING" %>
        <%= f.number_field :bar_leading, value: 1, within: 1..100, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag 'promobar[bar_text_formatting]', "FORMATTING" %>
        <%= f.check_box :bar_font_regular %>
        <span>REGULAR</span>
        <%= f.check_box :bar_font_bold %>
        <span>BOLD</span>
        <%= f.check_box :bar_font_italic %>
        <span>ITALIC</span>
      </div>
    </div><br>

    <div class="col-md-12" style="padding-left: 0;">
      <div class="col-md-5">
        <div class="form-group">
          <%= label_tag 'promobar[bar_text_formatting]', "TEXT COLOR" %>
          <%= f.text_field :bar_text_color, class: "text-color" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div id="color" class="form-group">
        <%= label_tag 'promobar[bar_background_color]', "BACKGROUND COLOR" %>
        <%= f.text_field :bar_background_color, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <div class="header-bar-opacity-slider" style="margin-top: 35px;"></div>
        <span class="header-bar-opacity-value" style="display:block; text-align:center; font-weight:bold;"><%= @header_promobar.bar_background_opacity %>%</span>
        <%= f.hidden_field :bar_background_opacity, class: "form-control header-bar-opacity-switcher" %>
      </div>
    </div>

    </div>
  </div>
<% end %>

<%= form_for(@footer_promobar) do |f| %>

    <div class="col-md-12">

      <% if @footer_promobar.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <ul>
              <% @footer_promobar.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <% if flash[:error] %>
          <div class="alert alert-danger" role="alert">
            <ul>
              <% flash[:error].each do |error| %>
                  <li><%= error %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="col-md-9">
        <div class="form-group">
          <b>FOOTER BAR</b>

          <%= f.hidden_field :bar_type, value: 2 %>
          <%#= label_tag 'SELECT BAR' %><br>
          <%#= f.select :bar_type, ['HEADER BAR', 'FOOTER BAR'], {}, { :class => "form-control", :style => "width:30%;" } %>
        </div>
      </div>

      <div class="col-md-3">
        <div class="actions">
          <%= f.submit "Refresh", :type => "reset", class: "btn btn-primary pull-left", style: "width:40%;" %>
          <%= f.submit "Save", class: "btn btn-success pull-right", style: "width:40%;" %>
        </div>
      </div><br><br>

      <div class="col-md-12">
        <div class="form-group">
          <%= label_tag 'promobar[bar_text]', "FOOTER BAR TEXT" %><br>
          <%= f.text_field :bar_text, class: "form-control" %>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag 'promobar[bar_font]', "FONT" %>
            <%= f.select :bar_font, { 'TIMES NEW ROMAN' => 1, 'ARIAL' =>  2 }, {}, { :class => "form-control", style: "width 30%;" } %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag 'promobar[bar_font_size]', "SIZE" %>
            <%= f.number_field :bar_font_size, value: 5, within: 5..50, class: "form-control", style: "width 70%;" %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag 'promobar[bar_tracking]', "TRACKING" %>
            <%= f.number_field :bar_tracking, value: 1, within: 1..100, class: "form-control", style: "width 70%;" %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag 'promobar[bar_leading]', "LEADING" %>
            <%= f.number_field :bar_leading, value: 1, within: 1..100, class: "form-control", style: "width 70%;" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag 'promobar[bar_text_formatting]', "FORMATTING" %>
            <%= f.check_box :bar_font_regular %>
            <span>REGULAR</span>
            <%= f.check_box :bar_font_bold %>
            <span>BOLD</span>
            <%= f.check_box :bar_font_italic %>
            <span>ITALIC</span>
          </div>
        </div><br>

        <div class="col-md-12" style="padding-left: 0;">
          <div class="col-md-5">
            <div class="form-group">
              <%= label_tag 'promobar[bar_text_formatting]', "TEXT COLOR" %>
              <%= f.text_field :bar_text_color, class: "form-control text-color" %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div id="color" class="form-group">
            <%= label_tag 'promobar[bar_background_color]', "BACKGROUND COLOR" %>
            <%= f.text_field :bar_background_color, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <div class="footer-bar-opacity-slider" style="margin-top: 35px;"></div>
            <span class="footer-bar-opacity-value" style="display:block; text-align:center; font-weight:bold;"><%= @footer_promobar.bar_background_opacity %>%</span>
            <%= f.hidden_field :bar_background_opacity, class: "form-control footer-bar-opacity-switcher" %>
          </div>
        </div>

      </div>
    </div>
<% end %>




