<%= form_for(@promobar) do |f| %>

  <div class="col-md-12">
    <%= render 'flash' %>

    <div class="col-md-9">
      <div class="form-group">
        <b>HEADER BAR</b>

        <%= f.hidden_field :bar_type, value: 1 %>
        <%#= label_tag 'SELECT BAR' %><br>
        <%#= f.select :bar_type, ['HEADER BAR', 'FOOTER BAR'], {}, { :class => "form-control", :style => "width:30%;" } %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="actions">
        <%= f.submit "Refresh", :type => "reset", class: "btn btn-primary pull-left", style: "width:40%;" %>
        <%= f.submit "Save", class: "btn btn-success pull-right", style: "width:40%;" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
      <%= f.label_tag 'promobar[bar_text]', "HEADER BAR TEXT" %><br>
      <%= f.text_field :bar_text, class: "form-control" %>
    </div>
      <div class="form-group">
        <%= f.label :bar_font %><br>
        <%= f.text_field :bar_font, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bar_font_size %><br>
        <%= f.number_field :bar_font_size, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bar_tracking %><br>
        <%= f.number_field :bar_tracking, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bar_leading %><br>
        <%= f.number_field :bar_leading, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bar_text_formatting %><br>
        <%= f.number_field :bar_text_formatting, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bar_text_color %><br>
        <%= f.text_field :bar_text_color, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bar_background_color %><br>
        <%= f.text_field :bar_background_color, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bar_background_opacity %><br>
        <%= f.number_field :bar_background_opacity, class: "form-control" %>
      </div>

    </div>
  </div>
<% end %>



