<script type="text/javascript">

    $('.bar-text-color').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".bar-text-color").attr("value") || "#000000",
      change: function(value) {
        $('.bar-text-color').attr("value", value)
      }
    });

    $('.bar-background-color').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".bar-background-color").attr("value") || "#000000",
      change: function(value) {
        $('.bar-background-color').attr("value", value)
      }
    });

    $('.button-background-color').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".button-background-color").attr("value") || "#ffffff",
      change: function(value) {
        $('.button-background-color').attr("value", value)
      }
    });

    $('.button-hover').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".button-hover").attr("value") || "#000000",
      change: function(value) {
        $('.button-hover').attr("value", value)
      }
    });

    $('.button-text-color').minicolors({
      theme: 'bootstrap',
      defaultValue: $(".button-text-color").attr("value") || "#000000",
      change: function(value) {
        $('.button-text-color').attr("value", value)
      }
    });

    $( ".bar-opacity-slider" ).slider({
      range: "max",
      min: 1,
      max: 100,
      value: $(".bar-opacity-switcher").attr("value"),
      slide: function(event, ui) {
        $(".bar-opacity-switcher").attr("value", ui.value);
        $(".bar-opacity-value").html(ui.value + "%");
      }
    });

    $(document).ready(function() {
      $(document).getElementById("prmobar_show").defaultValue = "true";
    });

    $(document).ready(function() {
      $(document).getElementById("button_on").defaultValue = "true";
    });

</script>

<!-- Bar form -->
<%= form_for(@promobar, class: "bar-form") do |f| %>

  <div class="col-md-12" style="border-bottom: 3px solid #000;margin-bottom: 30px;">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <% if @promobar.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @promobar.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% flash[:error].each do |error| %>
                <li><%= error %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="actions">
        <%= link_to 'Back', root_url, class: "btn btn-primary btn-default", style: "margin-bottom: 25px; width: 50%;" %>
      </div>
    </div>    
  </div>
  

  <div class="row" style="margin-bottom: 25px;">

    <div class="form-group col-md-4">
      <div class="col-md-4" style="widht:50%;">
        <%= label_tag 'promobar[bar_type]', 'SELECT BANNER TYPE:' %>  
      </div>
      <div class="col-md-4" style="widht:50%;">
        <%= f.select :bar_type, { 'HEADER BAR' => 1, 'FOOTER BAR' =>  2 }, { selected: @promobar.bar_type }, { :class => "form-control" } %>  
      </div>
    </div>

    <%= f.hidden_field :promobar_show, value: @promobar.promobar_show, id: "promobar_show" %>
    <%= f.hidden_field :button_on, value: @promobar.button_on, id: "button_on" %> 
    
    <% unless @promobar.promobar_show == "true" %>
      <div class="col-md-2">
        <div class="actions">
          <%= f.submit "Display", class: "btn btn-primary", id: "display_bar_button", style: "width: 80%;" %>
        </div>
      </div>
    <% end %>
    
    <% if @promobar.promobar_show == "true" %>
      <div class="col-md-2">
        <div class="actions">
          <%= f.submit "Hide", class: "btn btn-warning", id: "hide_bar_button", style: "width: 80%;" %>
        </div>
      </div>
    <% end %>

    <% unless @promobar.id.nil? %>
      <div class="col-md-2">
        <%= link_to 'Delete', promobar_url(@promobar), method: :delete, class: "btn btn-danger", style: "width: 80%;",
                               data: { confirm: 'Are you sure, you want to delete this promo bar?' } %>  
      </div>
    <% end %>
    
    <div class="col-md-2">
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-success", style: "width: 80%;"%>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[name]', "BANNER TITLE:" %><br>
        <%= f.text_field :name, class: "form-control", placeholder: "ENTER TEXT HERE" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag 'promobar[background_color]', "BACKGROUND COLOR" %>
        <%= f.text_field :background_color, class: "form-control bar-background-color" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag "OPACITY", "OPACITY" %>
        <div class="bar-opacity-slider" style="margin-top: 35px;"></div>
        <span class="bar-opacity-value" style="display:block; text-align:center; font-weight:bold;"><%= @promobar.background_opacity %>%</span>
        <%= f.hidden_field :background_opacity, class: "form-control bar-opacity-switcher" %>
      </div>
    </div>

  </div>

  

  
  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text]', "BANNER TEXT:" %><br>
        <%= f.text_field :text, class: "form-control", placeholder: "ENTER TEXT HERE" %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[font]', "FONT" %>
        <%= f.select :font, { 'TIMES NEW ROMAN' => 1, 'ARIAL' =>  2 }, {}, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <%= label_tag 'promobar[font_size]', "SIZE" %>
        <%= f.number_field :font_size, value: @promobar.font_size, within: 5..50, class: "form-control", style: "width 70%;" %>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[text_color]', "TEXT COLOR" %>
        <%= f.text_field :text_color, class: "form-control bar-text-color" %>
      </div>
    </div>
        
    <div class="col-md-4" style="margin-top:2%;">
      <div class="form-group">
        <%= f.check_box :font_regular %>
        <span>REGULAR</span>
        <%= f.check_box :font_bold %>
        <span><strong>BOLD</strong></span>
        <%= f.check_box :font_italic %>
        <span><em>ITALIC</em></span>
        <%= f.check_box :font_underlined %>
        <span><u>UNDERLINE</u></span>
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <%= label_tag 'promobar[tracking]', "TRACKING" %>
        <%= f.number_field :tracking, value: @promobar.tracking, within: 10..30, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <%= label_tag 'promobar[leading]', "LEADING" %>
        <%= f.number_field :leading, value: @promobar.leading, within: -2..2, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

  </div>



  <div class="row">
    
    <div class="col-md-12">
      <div class="form-group">
        <label for="button_text" style="display:inline-block; width:100%;">BUTTON TITLE:
          <div class="actions pull-right">
            <%= f.submit @promobar.button_on ? "BUTTON OFF": "BUTTON ON", class: "btn btn-primary pull-right", id:"button_switcher" %>
          </div>
        </label>
        <%= f.text_field :button_text, class: "form-control", placeholder: "ENTER TEXT HERE" %>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag 'promobar[button_shape]', "BUTTON SHAPE" %>
        <%= f.select :button_shape, { 'RECTANGLE' => 1, 'SQUARE' =>  2 }, {}, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag 'promobar[button_color]', "BUTTON COLOR" %>
        <%= f.text_field :button_color, class: "form-control button-background-color" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag 'promobar[button_hover]', "HOVER" %>
        <%= f.text_field :button_hover, class: "form-control button-hover" %>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-2">
      <div class="form-group">
        <%= label_tag 'promobar[button_font]', "FONT" %>
        <%= f.select :button_font, { 'TIMES NEW ROMAN' => 1, 'ARIAL' =>  2 }, {}, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <%= label_tag 'promobar[button_font_size]', "SIZE" %>
        <%= f.number_field :button_font_size, value: 5, within: 5..50, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag 'promobar[button_text_color]', "TEXT COLOR" %>
        <%= f.text_field :button_text_color, class: "form-control button-text-color" %>
      </div>
    </div>
    
    <div class="col-md-4" style="margin-top:2%;">
      <div class="form-group">
        <%= f.check_box :button_font_regular %>
        <span>REGULAR</span>
        <%= f.check_box :button_font_bold %>
        <span><strong>BOLD</strong></span>
        <%= f.check_box :button_font_italic %>
        <span><em>ITALIC</em></span>
        <!--<%= f.check_box :font_underlined %>
        <span><u>UNDERLINE</u></span>-->
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <%= label_tag 'promobar[button_tracking]', "TRACKING" %>
        <%= f.number_field :button_tracking, value: 1, within: 1..100, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <%= label_tag 'promobar[button_leading]', "LEADING" %>
        <%= f.number_field :button_leading, value: 1, within: 1..100, class: "form-control", style: "width 70%;" %>
      </div>
    </div>

  </div>  
    

    

    

    

    
    
 
    

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text_animation]', "TEXT ANIMATION" %><br>
        <%= f.select :text_animation, { 'FLY FROM LEFT' => 1, 'FADE IN' =>  2 }, {}, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text_animation]', "BAR POSITION" %><br>
        <%= f.select :position, { 'TOP OF PAGE' => 1, 'OTHER POSITION' =>  2 }, {}, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text_animation]', "BAR ALIGNMENT" %><br>
        <%= f.select :alignment, { 'CENTER' => 1, 'LEFT' =>  2, 'RIGHT' => 3 }, {}, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text_animation]', "WHEN WILL THE BAR DISPLAY?" %><br>
        <%= f.select :display_delay, { 'IMMEDIATELY' => 0, '0.5 SEC DELAY' =>  2, '1 SEC DELAY' => 3 }, { selected: @promobar.display_delay || 0 }, { :class => "form-control" } %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'promobar[text_animation]', "URL LINK" %><br>
        <%= f.text_field :url_link, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag nil, "OPEN IN NEW TAB" %>
        <%= f.check_box :url_link_blank %><br>
        <%= label_tag nil, "ENABLE ON MOBILE DEVICES" %>
        <%= f.check_box :enable_on_mobile %>
      </div>
    </div>
  </div>


<% end %>
<!-- Bar form end -->


