
$('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">').prependTo('head');


<% unless @header_promobars.empty? %>
  <% @header_promobars.each_with_index do |bar, index| %>

    $('<div class="header-promo-bar<%= index %>" style="top: 0; width: 100%; height:50px;' +
      ' visibility: <%= bar.display_bar %>; ' +
      ' background: <%= bar.background_color %>; ' +
      ' text-align: <%= bar.text_align(bar.alignment)%>; ' +
      ' opacity: <%= (100 - bar.background_opacity) / 100.0 %>;">' +
      ' <h1 class="<%= bar.animation(bar.text_animation) %>" ' +
      ' style="display: inline-block; "><%= render html: bar.text.html_safe %></h1>' +
      ' <a href="' + '<%= bar.url_link %>' + '" target=<%= bar.link_blank %>' +  
      ' style="display: <%= bar.display_button %>;height:45px; ' +
      ' background-color: <%= bar.button_color %>; border-radius: 5px;"' +
      ' class="btn btn-sm btn-primary"><%= render html: bar.button_text.html_safe unless bar.button_text.nil? %></a>' +
      ' <button id="header-promobar-x-button<%= index %>" class="btn btn-sm btn-primary"' +
      ' style="display: block; float: right; border-radius: 5px;"' + 
      ' type="button">X</button></div>').prependTo('body');
    $('<script type="text/javascript"> ' + 
        '$(document).ready(function () { ' +
          '$("#header-promobar-x-button<%= index %>").click(function () { ' +
             '$(".header-promo-bar<%= index %>").css("visibility", "hidden"); ' + 
          '}); ' +
          'if (!<%= bar.enabled_on_mobile? %>) { ' +
            'if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) { ' +
              '$(".header-promo-bar<%= index %>").css("visibility", "hidden"); ' +
            '} ' +
          '} ' +
        '}); ' +
    '</script>').appendTo('head');
    $('<style> ' + 
      '.header-promo-bar<%= index %> a:hover { ' +
      ' background-color: <%= bar.button_hover %> !important;' +
      '}' + 
    '</style>').appendTo('head');
    <% unless bar.subheader.nil? %>
      $('.logo').before($('<div class="subheader-promo-bar<%= index %>" ' +
        ' style="float:left; width: 30%; height:40px; display: inline-block;  text-align: <%= bar.subheader.text_align(bar.subheader.alignment)%>;' +
        ' visibility: <%= bar.subheader.display_bar %>; opacity: <%= (100 - bar.background_opacity) / 100.0 %>;' +
        ' background: <%= bar.subheader.background_color %>;">' +
        ' <h2 class="<%= bar.animation(bar.subheader.text_animation) %>"' +
        ' style="display:inline-block; margin-top:7px;"> ' + 
        ' <%= render html: bar.subheader.text.html_safe unless bar.subheader.text.nil? %></h2> ' +
        ' <a href="' + '<%= bar.subheader.url_link %>' + '" target=<%= bar.subheader.link_blank %>' +  
        ' style="display: <%= bar.subheader.display_button %>; height:25px; margin-top:7px; ' +
        ' background-color: <%= bar.subheader.button_color %>; ' +
        ' border-radius: 5px;"' +
        ' class="btn btn-sm btn-primary"><%= render html: bar.subheader.button_text.html_safe unless bar.subheader.button_text.nil? %></a>' +
        ' <button id="subheader-promobar-x-button<%= index %>" class="btn btn-sm btn-primary"' +
        ' style="display: block; float: right; border-radius: 5px;"' + 
        ' type="button">X</button> ' +
        ' </div>'));
      $('<style> ' + 
        '.subheader-promo-bar<%= index %> a:hover { ' +
        ' background-color: <%= bar.subheader.button_hover %> !important;' +
        '}' + 
      '</style>').appendTo('head');
      $('<script type="text/javascript"> ' + 
        '$(document).ready(function () { ' +
          '$("#subheader-promobar-x-button<%= index %>").click(function () { ' +
             '$(".subheader-promo-bar<%= index %>").css("visibility", "hidden"); ' + 
          '}); ' +
          'if (!<%= bar.subheader.enabled_on_mobile? %>) { ' +
            'if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) { ' +
              '$(".subheader-promo-bar<%= index %>").css("visibility", "hidden"); ' +
            '} ' +
          '} ' +
        '}); ' +
    '</script>').appendTo('head');
    <% end %>
  <% end %>
  $('<script type="text/javascript"> ' + 
      '$(document).ready(function () { ' +
        'var divs = $(\'div[class^="header-promo-bar"]\'); ' +
        'divs.hide(); ' +
        'var i; ' +
        'i = 0; ' +
        '(function cycle() { ' +
          'divs.eq(i).fadeIn(400) ' +
                    '.delay(2000) ' +
                    '.fadeOut(400, cycle); ' +
          'i = ++i % divs.length; '  +
        '})(); ' +
      '}); ' +
    '</script>').appendTo('head');
    $('<script type="text/javascript"> ' + 
      '$(document).ready(function () { ' +
        'var divs = $(\'div[class^="subheader-promo-bar"]\'); ' +
        'divs.hide(); ' +
        'var i; ' +
        'i = 0; ' +
        '(function cycle() { ' +
          'divs.eq(i).fadeIn(400) ' +
                    '.delay(2000) ' +
                    '.fadeOut(400, cycle); ' +
          'i = ++i % divs.length; '  +
        '})(); ' +
      '}); ' +
    '</script>').appendTo('head');
    
     
<% end %>

<% unless @footer_promobars.nil? %>
  <% @footer_promobars.each_with_index do |bar, index| %>

    $('<div class="footer-promo-bar<%= index %>" style="bottom: 0; width: 100%; height:50px;' +
      ' visibility: <%= bar.display_bar %>; ' +
      ' background: <%= bar.background_color %>; ' +
      ' text-align: <%= bar.text_align(bar.alignment)%>; ' +
      ' opacity: <%= (100 - bar.background_opacity) / 100.0 %>;">' +
      ' <h1 class="<%= bar.animation(bar.text_animation) %>" ' +
      ' style="display: inline-block; "><%= render html: bar.text.html_safe %></h1>' +
      ' <a href="' + '<%= bar.url_link %>' + '" target=<%= bar.link_blank %>' +  
      ' style="display: <%= bar.display_button %>; height:45px;' +
      ' border-radius: 5px;"' +
      ' class="btn btn-sm btn-primary"><%= render html: bar.button_text.html_safe unless bar.button_text.nil? %></a>' +
      ' <button id="footer-promobar-x-button<%= index %>" class="btn btn-sm btn-primary"' +
      ' style="display: block; float: right; border-radius: 5px;"' + 
      ' type="button">X</button></div>').appendTo('body');
    $('<script type="text/javascript"> ' + 
        '$(document).ready(function () { ' +
          '$("#footer-promobar-x-button<%= index %>").click(function () { ' +
             '$(".footer-promo-bar<%= index %>").css("visibility", "hidden"); ' + 
          '}); ' +
          'if (!<%= bar.enabled_on_mobile? %>) { ' +
            'if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) { ' +
              '$(".footer-promo-bar<%= index %>").css("visibility", "hidden"); ' +
            '} ' +
          '} ' +
        '}); ' +
    '</script>').appendTo('head');
    $('<style> ' + 
      '.footer-promo-bar<%= index %> a:hover { ' +
      ' background-color: <%= bar.button_hover %> !important;' +
      '}' + 
    '</style>').appendTo('head');

  <% end %>
  $('<script type="text/javascript"> ' + 
      '$(document).ready(function () { ' +
        'var divs = $(\'div[class^="footer-promo-bar"]\'); ' +
        'divs.hide(); ' +
        'var i; ' +
        'i = 0; ' +
        '(function cycle() { ' +
          'divs.eq(i).fadeIn(400) ' +
                    '.delay(2000) ' +
                    '.fadeOut(400, cycle); ' +
          'i = ++i % divs.length; '  +
        '})(); ' +
      '}); ' +
    '</script>').appendTo('head');
<% end %>
