
$('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">').appendTo('head');
$('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>').prependTo('head');
$('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>').appendTo('head');
$('<script src="https://raw.githubusercontent.com/jschr/textillate/master/jquery.textillate.js"></script>').appendTo('head');


<% unless @header_promobar.nil? %>

    $('<div class="header-promo-bar" style="position: fixed; top: 0; width: 100%; ' +
        ' display: <%= @header_promobar.display_bar %>; ' +
        ' color: <%= @header_promobar.text_color %>; background: <%= @header_promobar.background_color %>; ' +
        ' font-family: <%= @header_promobar.font_family(@header_promobar.font) %>; ' + 
        ' font-weight: <%= @header_promobar.font_weight %>; letter-spacing: <%= @header_promobar.leading %>px;' + 
        ' font-style: <%= @header_promobar.italic %>; line-height: <%= @header_promobar.tracking %>px;' +
        ' text-align: <%= @header_promobar.text_align(@header_promobar.alignment)%>; ' +
        ' opacity: <%= (100 - @header_promobar.background_opacity) / 100.0 %>; ' +
        ' font-size: <%= @header_promobar.font_size %>px;">' +
        ' <h1  style="display: inline-block; text-decoration: <%= @header_promobar.underlined%>;"><%= @header_promobar.text %></h1>' +
        ' <a href="' + '<%= @header_promobar.url_link %>' + '"' +  
        ' style="display: <%= @header_promobar.display_button %>; background: <%= @header_promobar.button_color %>;' +
        ' color: <%= @header_promobar.button_text_color%>; border-radius: 5px;' + 
        ' font-family: <%= @header_promobar.font_family(@header_promobar.button_font) %>; text-decoration: <%= @header_promobar.button_underlined%>;' +
        ' font-weight: <%= @header_promobar.button_font_weight %>; letter-spacing: <%= @header_promobar.button_leading %>px;' + 
        ' font-style: <%= @header_promobar.button_italic %>; line-height: <%= @header_promobar.button_tracking %>px;' + 
        ' font-size: <%= @footer_promobar.button_font_size %>px; "' +
        ' class="btn btn-sm btn-primary"><%= @header_promobar.button_text %></a>' +
        ' <button id="header-promobar-x-button" class="btn btn-sm btn-primary"' +
        ' style="display: block; float: right; border-radius: 5px;"' + 
        ' type="button">X</button></div>').appendTo('body');
    $('<script type="text/javascript"> ' + 
        '$(document).ready(function () { ' +
          '$("#header-promobar-x-button").click(function () { ' +
             '$(".header-promo-bar").hide(); ' + 
          '});   ' +
        '}); ' +
    '</script>').appendTo('head');
    $('<style> ' + 
      '.header-promo-bar a:hover { ' +
      ' background-color: <%= @header_promobar.button_hover %> !important;' +
      '}' + 
    '</style>').appendTo('head');
    $('<script type="text/javascript"> ' + 

        'function loadScript(url, callback){ ' + 
          'var script = document.createElement("script"); ' + 
          'script.type = "text/javascript"; ' + 
        
          'if (script.readyState){ ' + 
            'script.onreadystatechange = function(){ ' + 
              'if (script.readyState == "loaded" || script.readyState == "complete"){ ' + 
                'script.onreadystatechange = null; ' + 
                'callback(); ' + 
              '} ' + 
            '};' +
          '} else { ' + 
            'script.onload = function(){ ' + 
              'callback(); ' + 
            '}; ' + 
          '} ' + 
       
          'script.src = url; ' + 
          'document.getElementsByTagName("head")[0].appendChild(script); ' + 
        '} ' + 

        'loadScript("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js", function(){ ' + 
          'jQueryCDN = jQuery.noConflict(true); ' + 
          'animation_script(jQueryCDN); ' + 
        '}); ' + 

        'var animation_script = function($) { ' +
          '$(function() { ' +
            '$(".header-promo-bar h1").textillate({ ' +
              '"in": { effect: "bounce" }  ' +
            '}); ' +
          '}); ' +
        '$("body").append("<p>Your app is using jQuery version "+$.fn.jquery+"</p>"); }; ' +
    '</script>').appendTo('head');


<% end %>

<% unless @footer_promobar.nil? %>
    $('<div class="footer-promo-bar" style="position: fixed; bottom: 0; width: 100%;' +
        ' display: <%= @footer_promobar.display_bar %>; ' +
        ' color: <%= @footer_promobar.text_color %>; background: <%= @footer_promobar.background_color %>; ' +
        ' font-family: <%= @footer_promobar.font_family(@footer_promobar.font) %>; ' + 
        ' font-weight: <%= @footer_promobar.font_weight %>; letter-spacing: <%= @footer_promobar.leading %>px;' + 
        ' font-style: <%= @footer_promobar.italic %>; line-height: <%= @footer_promobar.tracking %>px; ' +
        ' text-align: <%= @footer_promobar.text_align(@footer_promobar.alignment)%>; ' +
        ' opacity: <%= (100 - @footer_promobar.background_opacity) / 100.0 %>; ' +
        ' font-size: <%= @footer_promobar.font_size %>px;">' +
        ' <h1 style="display: inline-block; text-decoration: <%= @footer_promobar.underlined%>;"><%= @footer_promobar.text %></h1>' + 
        ' <a href="' + '<%= @footer_promobar.url_link %>' + '"' + 
        ' style="display: <%= @footer_promobar.display_button %>; background: <%= @footer_promobar.button_color %>;' +
        ' color: <%= @footer_promobar.button_text_color%>; border-radius: 5px;' +
        ' font-family: <%= @footer_promobar.font_family(@footer_promobar.button_font) %>; text-decoration: <%= @footer_promobar.button_underlined%>;' + 
        ' font-weight: <%= @footer_promobar.button_font_weight %>; letter-spacing: <%= @footer_promobar.button_leading %>px;' + 
        ' font-style: <%= @footer_promobar.button_italic %>; line-height: <%= @footer_promobar.button_tracking %>px;' + 
        ' font-size: <%= @footer_promobar.button_font_size %>px;"' +
        ' class="btn btn-sm btn-primary"><%= @footer_promobar.button_text %></a>' +
        ' <button id="footer-promobar-x-button" class="btn btn-sm btn-primary"' +
        ' style="display: block; float: right; border-radius: 5px;"' + 
        ' type="button">X</button></div>').appendTo('body');
    $('<script type="text/javascript"> ' + 
        '$(document).ready(function () { ' +
          '$("#footer-promobar-x-button").click(function () { ' +
             '$(".footer-promo-bar").hide(); ' + 
          '});   ' +
        '}); ' +
    '</script>').appendTo('head');
    $('<style> ' + 
      '.footer-promo-bar a:hover { ' +
      ' background-color: <%= @footer_promobar.button_hover %> !important;' +
      '}' + 
    '</style>').appendTo('head');
<% end %>
