<% unless @header_promobar == false %>
    $('<div style="position: absolute; top: 0; width: 100%;' +
        ' color: <%= @header_promobar.text_color %>; background: <%= @header_promobar.background_color %>; ' +
        ' opacity: <%= @header_promobar.opacity %>; text-align: center;">' +
        '<h1><%= @header_promobar.text %><h1/></div>').appendTo('body');
<% end %>

<% unless @footer_promobar == false %>
    $('<div style="position: absolute; bottom: 0; width: 100%; color:  <%= @footer_promobar.text_color %>; background: <%= @footer_promobar.background_color %> text-align: center;"><h1><%= @footer_promobar.text %><h1/></div>').appendTo('body');
<% end %>



