<p id="notice"><%= notice %></p>

<p>
  <strong>Bar type:</strong>
  <%= @promobar.bar_type %>
</p>

<p>
  <strong>Bar text:</strong>
  <%= @promobar.bar_text %>
</p>

<p>
  <strong>Bar font:</strong>
  <%= @promobar.bar_font %>
</p>

<p>
  <strong>Bar font size:</strong>
  <%= @promobar.bar_font_size %>
</p>

<p>
  <strong>Bar tracking:</strong>
  <%= @promobar.bar_tracking %>
</p>

<p>
  <strong>Bar leading:</strong>
  <%= @promobar.bar_leading %>
</p>

<p>
  <strong>Bar text formatting:</strong>
  <%= @promobar.bar_text_formatting %>
</p>

<p>
  <strong>Bar text color:</strong>
  <%= @promobar.bar_text_color %>
</p>

<p>
  <strong>Bar background color:</strong>
  <%= @promobar.bar_background_color %>
</p>

<p>
  <strong>Bar background opacity:</strong>
  <%= @promobar.bar_background_opacity %>
</p>

<%= link_to 'Edit', edit_promobar_path(@promobar) %> |
<%= link_to 'Back', promobars_path %>
